<h1>Cake</h1>

<div class="cake-items">

<span class="cake-thing">
<img src="bananacake.jpg">
<h3>Banana</h3>
<h5>Delicious banana goodness</h5>
<h6>$6.99/piece</h6>
<h6>$12.99/each</h6>
</span>

<span class="cake-thing">
<img src="carrotcake.jpg">
<h3>Carrot</h3>
<h5>Carrot topped with cream cheese frosting</h5>
<h6>$6.99/piece</h6>
<h6>$12.99/each</h6>
</span>

<span class="cake-thing">
<img src="coconutcake.jpg">
<h3>Coconut</h3>
<h5>A tropical, fluffy and irresistable flavor</h5>
<h6>$6.99/piece</h6>
<h6>$12.99/each</h6>
</span>

<span class="cake-thing">
<img src="confetticake.jpg">
<h3>Confetti</h3>
<h5>Its a party in a cake!</h5>
<h6>$6.99/piece</h6>
<h6>$12.99/each</h6>
</span>

<span class="cake-thing">
<img src="espressocake.jpg">
<h3>Espresso</h3>
<h5>The perfect flavor to help boost your day</h5>
<h6>$6.99/piece</h6>
<h6>$12.99/each</h6>
</span>

<span class="cake-thing">
<img src="redvelvetcake.jpg">
<h3>Red Velvet</h3>
<h5>A classic that never gets old</h5>
<h6>$6.99/piece</h6>
<h6>$12.99/each</h6>
</span>

</div>
