  <h2 class="interest">Like what you see? Enter your info and we'll send you a copy of our catalogue!</h2>
<form action="/response" method="post" class="form">

  <input type="text" name="name" placeholder="Enter your name" value="<%= @name %>">
  <input type="email" name="email" placeholder="Enter your email address" value="<%= @email %>" id="emailaddress">
  <input type="text" name="content" placeholder="Enter your message" value="<%= @content %>">
  <input type="submit" value="Go" onclick="empty()" class="submit">
</form>

<footer>
  <ul class="footer">
    <li class="footer-items check">Check us out</li>
    <li class="footer-items"><a href="https://www.facebook.com" target="_blank"><img src="facebook.png"></a></li>
    <li class="footer-items"><a href="https://www.twitter.com" target="_blank"><img src="twitter.png"></a></li>
    <li class="footer-items"><a href="https://www.instagram.com" target="_blank"><img src="instagram.png"></a></li>
    <li class="footer-items"><a href="https://www.snapchat.com" target="_blank"><img src="snapchat.png"></a></li>
  </ul>
</footer>
