<h1>Cookies</h1>

<div class="cookie-items">

<span class="butterscotch-cookie">
<img src="butterscotchgingerbread.png">
<h3>Butterscotch Gingerbread</h3>
<h5>A blend of sweet butterscotch & gingerbread</h5>
<h6>$1.99/each</h6>
</span>

<span class="chocolatechip-cookie">
<img src="chocolatechip.jpg">
<h3>Chocolate Chip</h3>
<h5>A classic with milk & dark chocolate chips</h5>
<h6>$1.99/each</h6>
</span>

<span class="whoopie-cookie">
<img src="coconutchocolatewhoopiepie.jpg">
<h3>Coconut Chocolate Whoopie Pie</h3>
<h5>Soft chocolate cookies stuffed with coconut icing</h5>
<h6>$1.99/each</h6>
</span>

<span class="sandwich-cookie">
<img src="cookiesandwich.jpg">
<h3>Cookie Sandwich</h3>
<h5>Two chocolate chip cookies stuffed with sweet vanilla icing</h5>
<h6>$1.99/each</h6>
</span>

<span class="sugar-cookie">
<img src="sugarcookie.jpg">
<h3>Sugar Cookie</h3>
<h5>A deliciously decorated sweet cookie</h5>
<h6>$1.99/each</h6>
</span>

<span class="whitechip-cookie">
<img src="whitechocolatechip.jpg">
<h3>White Chocolate Chip</h3>
<h5>Milk chocolate cookie with white chocolate chips</h5>
<h6>$1.99/each</h6>
</div></span>
