<div class="main-items">

<img src="cookiereal.png" class="cookie-real">
<!-- <h3 class="title-items">Cookies</h3> -->

<img src="cakereal.png" class="cake-real">
<!-- <h3 class="title-items">Cake</h3> -->

<img src="muffinreal.png" class="muffin-real">
<!-- <h3 class="title-items">Muffins</h3> -->

</div>
