<div class="main-items">

<h3 class="title-items">Cookies
<img src="cookiereal.png" class="cookie-real"></h3>


<h3 class="title-items">Cake
<img src="cakereal.png" class="cake-real"></h3>


<h3 class="title-items">Muffins
<img src="muffinreal.png" class="muffin-real"></h3>

</div>
