<div class="main-items">

<span class="cookie1">
<a href="/cookies"><img src="cookiereal.png" class="cookie-real"></a>
<h3 class="title-items">Cookies</h3>
</span>

<span class="cake1">
<a href="/cake"><img src="cakereal.png" class="cake-real"></a>
<h3 class="title-items">Cake</h3>
</span>

<span class="muffin1">
<a href="/muffins"><img src="cupcake-new.png" class="muffin-real"></a>
<h3 class="title-items">Cupcakes</h3>
</span>

</div>
