<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mary Jane's Baked Goods</title>
  <link rel="icon" href="./logo.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Hi+Melody|Patrick+Hand|Stylish" rel="stylesheet">
</head>
<body>
  <img src="decor.png" class="right-top">
  <img src="decor.png" class="left-top">

<nav>
  <ul class="ul-nav">
    <li><a href="/" class="nav"><img alt="home" src="home1.png"><span class="navtext">Home</span></a></li>
    <li><a href="/cookies" class="nav"><img alt="cookies" src="biscuit1.png"><span class="navtext">Cookies</span></a></li>
    <li><a href="/muffins" class="nav"><img alt="muffins" src="cupcake1.png"><span class="navtext">Cupcakes</span></a></li>
    <li><a href="/cake" class="nav"><img alt="cake" src="cake1.png"><span class="navtext">Cake</span></a></li>
    <li><a href="/contact" class="nav"><img alt="menu" src="menu.png"><span class="navtext">Menu</span></a></li>
  </ul>
</nav>
  <img src="logo.png" class="logo">

  <%= yield %>

  <footer>
    <ul class="footer">
      <li class="footer-items check">Check us out</li>
      <li class="footer-items"><a href="https://www.facebook.com" target="_blank"><img src="facebook.png"></a></li>
      <li class="footer-items"><a href="https://www.twitter.com" target="_blank"><img src="twitter.png"></a></li>
      <li class="footer-items"><a href="https://www.instagram.com" target="_blank"><img src="instagram.png"></a></li>
      <li class="footer-items"><a href="https://www.snapchat.com" target="_blank"><img src="snapchat.png"></a></li>
    </ul>
  </footer>


<script type="text/javascript" src="main.js"></script>
</body>
</html>
