<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mary Jane's Baked Goods</title>
  <link rel="icon" href="./utensils.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
<nav>
  <ul>
    <li><img src="home1.png"></li>
    <li><img src="biscuit1.png"></li>
    <li><img src="cupcake1.png"></li>
    <li><img src="cake1.png"></li>
  </ul>
</nav>
<img src="decor.png" class="right-top">
<img src="decor.png" class="left-top">
  <%= yield %>

<script type="text/javascript" src="main.js"></script>
</body>
</html>
