<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mary Jane's Baked Goods</title>
  <link rel="icon" href="./utensils.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Hi+Melody|Patrick+Hand|Stylish" rel="stylesheet">
</head>
<body>
  <img src="decor.png" class="right-top">
  <img src="decor.png" class="left-top">

<nav>
  <ul>
    <li><a href="/" class="nav"><img src="home1.png"></a></li>
    <li><a href="/cookies" class="nav"><img src="biscuit1.png"></a></li>
    <li><a href="/muffins" class="nav"><img src="cupcake1.png"></a></li>
    <li><a href="/cake" class="nav"><img src="cake1.png"></a></li>
    <li><a href="/contact" class="nav"><img src="mail.png"></a></li>
  </ul>
</nav>
  <img src="logo.png" class="logo">

  <%= yield %>

<script type="text/javascript" src="main.js"></script>
</body>
</html>
