<h1>Cupcakes</h1>

<div class="cupcake-items">

<span class="cupcake-thing">
<img src="banananutellacupcake.jpg">
<h3>Banana Nutella</h3>
<h5>Yummy banana & nutella mixed goodness</h5>
<h6>$3.99/each</h6>
</span>

<span class="cupcake-thing">
<img src="carrotcupcake.jpg">
<h3>Carrot</h3>
<h5>Classic carrot with cream cheese frosting</h5>
<h6>$3.99/each</h6>
</span>

<span class="cupcake-thing">
<img src="classichocolatecupcake.jpg">
<h3>Classic Chocolate</h3>
<h5>A classic and a top seller</h5>
<h6>$3.99/each</h6>
</span>

<span class="cupcake-thing">
<img src="redvelvetcupcake.jpg">
<h3>Red Velvet</h3>
<h5>Delicious red velvet with sweet vanilla icing</h5>
<h6>$3.99/each</h6>
</span>

<span class="cupcake-thing">
<img src="yellowdaisycupcake.jpg">
<h3>Yellow Daisy</h3>
<h5>A deliciously sweet yellow cupcake with daisy frosting</h5>
<h6>$3.99/each</h6>
</span>

<span class="cupcake-thing">
<img src="glutenfreechocolatechip.jpg">
<h3>Gluten Free Chocolate Chip</h3>
<h5>A classic with a gluten free twist</h5>
<h6>$3.99/each</h6>
</span>

</div>
