$bnw: 'Black And White Picture', sans-serif;
$melody: 'Hi Melody', cursive;
$stylish: 'Stylish', sans-serif;
$patrick: 'Patrick Hand', cursive;
$mint: #e6ffe6;
$lavender: #e6e6ff;
$pink: #ffe6e6;

li {
  list-style-type: none;
  padding: 8px;
}
li:hover{
  background-color: $lavender;
  border-radius: 50%;
}
.main-items {
    display: flex;
    justify-content: center;
    img {
      // width: 200px;
      height: 200px;
      padding: 40px;
    }
}

body{
  background-color: $mint;
  font-family: $melody;
  background-image: url("sparkles.gif");
  background-repeat: repeat-x;
}
ul {
  float: left;
  position: fixed;
  margin-top: 30%;
}
.left-top {
  transform: scaleX(-1);
  width: 30%;
  float: left;
  margin-top: 0;
  // position: fixed;
}
.right-top {
  width: 30%;
  float: right;
  margin-top: 0;
  // position: fixed;
}
.cookies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
h1 {
  text-align: center;
  font-family: $patrick;
  font-size: 500%;
}
@media screen and (max-width: 2000px) and (min-width: 992px) {
  .center {
    text-align: center;
    font-size: 300%;
  }
    .form {
      margin: 0;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 992px) {
  .center {
    text-align: center;
    font-size: 150%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .form {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

%inputvalue {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid black;
  color: black;
}

input[type=text]{
  @extend %inputvalue;
}

input[type=email] {
  @extend %inputvalue;
}
input[type=submit] {
  background-color: transparent;
  width: 10%;
}
