li {
  list-style-type: none;
  padding: 8px; }

li:hover {
  background-color: #e6e6ff;
  border-radius: 50%; }

li .navtext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1; }

li:hover .navtext {
  visibility: visible; }

@media screen and (max-width: 2000px) and (min-width: 992px) {
  .main-items {
    display: flex;
    justify-content: center;
    flex-flow: row;
    font-size: 180%; }
    .main-items img {
      height: 200px;
      padding: 40px; }
    .main-items .cookie1 {
      text-align: center;
      flex-flow: column; }
    .main-items .cake1 {
      text-align: center;
      flex-flow: column; }
    .main-items .muffin1 {
      text-align: center;
      flex-flow: column; }

  .cookie-items .cookie-thing, .cake-items .cake-thing, .cupcake-items .cupcake-thing {
    text-align: center;
    flex-flow: column;
    padding: 10px;
    border: solid 2px #e6e6ff;
    width: 25%; }

  .cookie-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 180%;
    margin-left: auto;
    margin-right: auto; }
    .cookie-items img {
      height: 200px;
      padding: 40px; }

  .cake-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 180%;
    margin-left: auto;
    margin-right: auto; }
    .cake-items img {
      height: 200px;
      padding: 40px; }

  .cupcake-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 180%;
    margin-left: auto;
    margin-right: auto; }
    .cupcake-items img {
      height: 200px;
      padding: 40px; }

  .catalogue {
    height: 800px;
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto; }

  .catalogue-small {
    visibility: hidden; }

  .center {
    text-align: center;
    font-size: 300%; }

  .form {
    margin: 0;
    position: absolute;
    margin-top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row;
    margin-bottom: 30px; }

  .interest {
    text-align: center;
    margin-top: 5%; } }
@media screen and (max-width: 992px) and (min-width: 0px) {
  .main-items {
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-size: 120%;
    text-align: center; }
    .main-items img {
      height: 100px;
      padding: 40px; }

  h1 {
    font-size: 200%; }

  .cookie-items {
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-size: 120%;
    text-align: center; }
    .cookie-items img {
      height: 100px;
      padding: 40px; }

  .catalogue-small {
    height: 400px;
    display: block;
    margin-top: -300%;
    margin-left: auto;
    margin-right: auto; }

  .catalogue {
    visibility: hidden;
    opacity: 0; }

  .center {
    text-align: center;
    font-size: 150%;
    margin-left: 20%;
    margin-right: 20%; }

  .form {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row; } }
body {
  background-color: #e6ffe6;
  font-family: "Hi Melody", cursive;
  background-image: url("sparkles.gif");
  background-repeat: repeat-x; }

.ul-nav {
  float: left;
  position: fixed;
  margin-top: 30%;
  z-index: 1; }

.left-top {
  transform: scaleX(-1);
  width: 30%;
  float: left;
  margin-top: 0; }

.right-top {
  width: 30%;
  float: right;
  margin-top: 0; }

.cookies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%; }

h1 {
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-size: 500%; }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%; }

input[type=text], input[type=email] {
  width: 30%;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid black;
  color: black; }

input[type=submit] {
  background-color: #ffe6e6;
  width: 10%;
  border: none; }

.submit:hover {
  cursor: pointer; }

.cookie-real:hover, .cake-real:hover, .muffin-real:hover {
  animation: grow 1s forwards; }

@keyframes grow {
  from {
    height: 200px; }
  to {
    height: 230px; } }
.footer {
  background-color: #ffe6e6;
  border: solid 2px #e6e6ff;
  width: 100%;
  text-align: center;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0; }

.footer-items {
  display: inline-block;
  justify-content: center;
  font-family: "Patrick Hand", cursive;
  font-size: 150%; }
  .footer-items .check:hover {
    background-color: none; }

.footer-items:hover {
  cursor: pointer; }

h6 {
  font-size: 130%; }

/*# sourceMappingURL=main.css.map */
