$bnw: 'Black And White Picture', sans-serif;
$melody: 'Hi Melody', cursive;
$stylish: 'Stylish', sans-serif;
$patrick: 'Patrick Hand', cursive;
$mint: #e6ffe6;
$lavender: #e6e6ff;
$pink: #ffe6e6;

li {
  list-style-type: none;
  padding: 8px;
}
li:hover{
  background-color: $lavender;
  border-radius: 50%;
}
li {
  .navtext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
}

li:hover .navtext {
    visibility: visible;
}
@media screen and (max-width: 2000px) and (min-width: 992px) {
  .main-items {
      display: flex;
      justify-content: center;
      flex-flow: row;
      font-size: 180%;
      img {
        height: 200px;
        padding: 40px;
      }
      .cookie1 {
        text-align: center;
        flex-flow: column;
      }
      .cake1 {
        text-align: center;
        flex-flow: column;
      }
      .muffin1 {
        text-align: center;
        flex-flow: column;
      }
  }
%cookiecontent {
    text-align: center;
    flex-flow: column;
    padding: 10px;
    border: solid 2px $lavender;
    width: 25%;

  }
.cookie-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 180%;
    margin-left: auto;
    margin-right: auto;
    img {
      height: 200px;
      padding: 40px;
    }
    .cookie-thing {
      @extend %cookiecontent;
    }
}
.cake-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 180%;
    margin-left: auto;
    margin-right: auto;
    img {
      height: 200px;
      padding: 40px;
    }
    .cake-thing {
      @extend %cookiecontent;
    }
}
.cupcake-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 180%;
    margin-left: auto;
    margin-right: auto;
    img {
      height: 200px;
      padding: 40px;
    }
    .cupcake-thing {
      @extend %cookiecontent;
    }
}
.catalogue {
  height: 900px;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
.catalogue-small{
  visibility: hidden;
}
.center {
  text-align: center;
  font-size: 300%;
}
  .form {
    margin: 0;
    position: absolute;
    // top: 60%;
    margin-top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row;
    margin-bottom: 30px;
  }
  .interest {
    text-align: center;
    margin-top: 5%;
  }
}

@media screen and (max-width: 992px) and (min-width: 0px) {
  .main-items {
      display: flex;
      justify-content: center;
      flex-flow: column;
      font-size: 120%;
      text-align: center;
      img {
        height: 100px;
        padding: 40px;
      }
    }
  .cookie-items {
      display: flex;
      justify-content: center;
      flex-flow: column;
      font-size: 120%;
      text-align: center;
      img {
        height: 100px;
        padding: 40px;
      }
    }
    .catalogue-small {
      height: 400px;
      display: block;
      margin-top: -300%;
      margin-left: auto;
      margin-right: auto;
    }
    .catalogue {
      // margin-top: -100%;
      visibility: hidden;
      opacity: 0;
    }
    .center {
      text-align: center;
      font-size: 150%;
      margin-left: 20%;
      margin-right: 20%;
    }
    .form {
      margin: 0;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: row;
    }
}

body{
  background-color: $mint;
  font-family: $melody;
  background-image: url("sparkles.gif");
  background-repeat: repeat-x;
  // background-position: 50% -40%;
}

ul {
  float: left;
  position: fixed;
  margin-top: 30%;
}
.left-top {
  transform: scaleX(-1);
  width: 30%;
  float: left;
  margin-top: 0;
  // position: fixed;
}
.right-top {
  width: 30%;
  float: right;
  margin-top: 0;
  // position: fixed;
}
.cookies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
h1 {
  text-align: center;
  font-family: $patrick;
  font-size: 500%;
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

%inputvalue {
  width: 30%;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid black;
  color: black;
}

input[type=text]{
  @extend %inputvalue;
}

input[type=email] {
  @extend %inputvalue;
}
input[type=submit] {
  background-color: $pink;
  width: 10%;
  border: none;
}
.submit:hover {
  cursor: pointer;
}
%mainanimation {
  animation: grow 1s forwards;
}
.cookie-real:hover {
  @extend %mainanimation;
}
.cake-real:hover {
  @extend %mainanimation;
}
.muffin-real:hover {
  @extend %mainanimation;
}
@keyframes grow {
  from{height: 200px;}
  to{height: 230px;}
}
